* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(250, 250, 250);
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 2rem;
}

.admin-layout {
    display: flex;
    min-height: calc(100vh - 60px);
}

.admin-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
}